body{
   background-color: #111113;
}
h1{
    color: white;
    font-family: teko;
}
p{
    color: white;
    font-family: teko;
}
h2{
    color: white;
    font-family: teko;
}
#insta{
    color: white;
}#facebook{
    color: white;
}#twitter{
    color: white;
}
 #home{
     color: white;
 }


@media screen and (max-width: 500px) {
    #skipToMain {
        display: flex;
        justify-content: center;
        background-color: #9F0B08;
        box-sizing: border-box;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 10px;
        /*border: 2px solid rgb(128, 128, 128);*/
        font-family: teko;


    }

    .title {
        text-align: center;
    }

    li {
        text-align: center;
        list-style: none;
        /*position: relative;*/
        right: 15px;
        font-family: teko;
    }

    a {
        color: white;
        text-decoration: none;
    }

    body {
        display: ;
        /*position: relative;*/
    }

    .nav-links li {
        border: 1px solid dimgray;
        background-color: #9F0B08;
        padding: 10px;
        margin: 9px;
        font-weight: bold;
    }

    .header-img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 50%;

    }

    h2 {
        font-weight: bolder;
        font-style: italic;
    }

    .sub-section {
        font-style: italic;
    }



}

@media screen and (min-width: 501px){
    #skipToMain {
        visibility: hidden;
    }

    body{
        display: flex;
        flex-wrap: wrap;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        /*flex-direction: row;*/
        padding: 1px;
        margin: 1px;
        list-style: none;
        align-items: baseline;
        position: absolute;
         top: 50px;
        right: 15px;
    }

    #home{
        /*margin-top: 0px;*/
        padding: 10px;
        /*justify-content: flex-end;*/
        /*position: relative;*/
        color: white;
    }

    #about{
        padding: 10px;
        color: white;

    }

    #work {
        padding: 10px;

    }

    #contact{
        padding: 10px;

    }

    .header-img {
        display: flex;
    }
    .header-img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 50%;

    }
    .sub-section{
        display: flex;
        flex-direction: column;
        width: 45%;
        padding: 5px;
        margin-left: 10px;
        font-family: teko;

    }
    .main{

        display: flex;
        flex-direction: column;
        width: 45%;
        float: left;
        padding: 5px;
        margin-left: 10px;
        font-family: teko;
    }

    .pic {
        width: 1200px;
        height: 500px;

    }
    a{
        color: white;
        font-family: teko;
    }

    footer{

    }

}